.test {
  --test-color-yellow: #fdd835;
  --test-color-warning: var(--test-color-yellow);
}

.test {
  color: var(--test-color-red);
  color: var(--test-color-green);
  color: var(--test-color-blue);
  color: var(--test-color-yellow);

  color: var(--test-color-primary);
  color: var(--test-color-success);
  color: var(--test-color-danger);
  color: var(--test-color-warning);
}

.test {
  color: #d51f1faa;
}

.test {
  color: #7b1f1fb2;
}

.test {
  color: #9d2727e5;
}

.test {
  color: rgb(255, 0, 0);
}

.test {
  color: rgb(100%, 0%, 0%);
}

.test {
  color: rgba(255, 0, 0, 1);
}

.test {
  color: rgb(133, 52, 52);
}

.test {
  color: rgba(255 0 0 / 100%);
}

.test {
  color: hsla(0, 100%, 50%, 1);
}

.test {
  color: hwb(360, 0%, 0%);
}

.test {
  color: hwb(360, 0%, 0%, 1);
}

.test {
  color: oklch(40.1% 0.123 21.57);
}

.test {
  color: lch(40.1% 0.123 21.57);
}

