// css 变量
:root {
  --test-color-red: #f56c6c;
  --test-color-green: #67c23a;
  --test-color-blue: #409eff;
  --test-color-primary: var(--test-color-blue);
  --test-color-success: var(--test-color-green);
  --test-color-danger: var(--test-color-red);
}

// scss 变量
$gray_0: #aaaaaa;
$gray_1: #808080;
$gray_2: #4a4a4a;
$gray_3: #333333;