$color_red: #f56c6c;
$color_green: #67c23a;
$color_blue: #409eff;
$color_yellow: #fdd835;

$color_danger: $color_red;
$color_success: $color_green;
$color_primary: $color_blue;
$color_warning: $color_yellow;

$color_text: #606266;
$color_text_light: #9099a4;
